.header {
        height: auto;
        margin-bottom: 10rem;
}

.body {
        overflow-x: hidden;
        background: -webkit-linear-gradient(to left, #1686a5, #000046);
        background: linear-gradient(to left, #1686a5, #000046); 

}

@include tablet {
        #nav { 
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                font-size: 2.5rem;
                font-family: $fuentePrincipal;
                color: $grisClaro;
                align-items: center;        
        }
}
.open {  
        
        background: -webkit-linear-gradient(to left, #004e92, #000428);
        background: linear-gradient(to left, #004e92, #000428); 
        
        color: $blanco;
        position: fixed;
        z-index: 100;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 2.5rem;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        transition: all 1s ease-in-out;
       li {
               padding: 3rem;
       }
      

 }

#nav {
        
        .scroll {
                text-decoration: none;
                font-family: $fuentePrincipal;
                color: $grisClaro;
                &:hover {
                        color: $naranja;
                }
        }
     
}




      

