.header {
        padding-top: 1.5rem;
        height: auto;
}

.body {
        overflow-x: hidden;
        background: rgba(0, 0, 0, 0.3) url(/build/img/software-developer.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: darken;
        max-width: 100%;

}

@include tablet {
        #nav {
                visibility: visible;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                font-size: 2.5rem;
                font-family: $fuentePrincipal;
                color: $grisClaro;
                align-items: center;
               
        }
}
#nav {
        margin-top: -1.5rem;
       position: fixed;
       background-color: $azulOscuro;
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       list-style: none;
       font-size: 2.5rem;
       clip-path: circle(100px at 90% -10%);
       -webkit-clip-path: circle(100px at 90% -10%);
       transition: all 1s ease-out;
       
       li {
        padding: 5rem;
        
       }
       li:nth-child(1) {
         transition: all 0.5s ease 0.2s;
       }
       li:nth-child(2) {
         transition: all 0.5s ease 0.4s;
       }
       li:nth-child(3) {
        transition: all 0.5s ease 0.6s
        }

       
        .scroll {
                text-decoration: none;
                font-family: $fuentePrincipal;
                color: $grisClaro;

                &:hover {
                        color: $naranja;
                }
        }
     
}




      

