.logos-svg {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    
    .logo {
        width: 10rem;
        height: 10rem;
    }
  }


.tecnologias {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: $blanco;
    padding: 10rem 0;
    font-weight: bolder;
    
}

