.logos-svg {
    @include telefono {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 2rem;
        padding: 2rem 2rem;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    
    .logo {
        width: 11rem;
        height: 11rem;
        
    }
   
}

.tecnologias {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.5rem;
    line-height: 48px;
    padding-bottom: 48px;
    color: $azulOscuro;
    padding: 4rem;
    
}

