.logos-svg {

    @include telefono {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 2rem;
        padding: 2rem 2rem;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    
    .logo {
        width: 8rem;
        height: 8rem;
        
    }
   
}

.tecnologias {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: $azulOscuro;
    padding-top: 3rem;
    margin: 0  0;
    
}

.logos-canvas{
    
    .imagen-canvas{
        height: 20rem;
        margin: 0 auto;
        
    }
}

.offcanvas-header{
    margin-top: 1rem;
    color: $blanco;
}

.descripcion-lenguajes {
    font-size: 2rem;
    color: $blanco;
    text-align: justify;
    text-justify: inter-word;
}