/// contenedor sobre mi
.about-wrapper{
    height: auto;
    background: #23074d;
    background: -webkit-linear-gradient(to right, #b34526, #23074d);
    background: linear-gradient(to left, #6e2e1c, #280957);

}
    

.contenedor-formulario {
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563);  
    background: linear-gradient(to right, #29323c, #485563); 
    
        
   }

.icons {
    background: #000428; 
    background: -webkit-linear-gradient(to left, #004e92, #000428);  
    background: linear-gradient(to left, #004e92, #000428); 

}

.logos-svg {
    background: #485563;  
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563); 
    
}


.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(99, 88, 88, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(116, 17, 17, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(116, 91, 91, 0.39);
}

.tecnologias {
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563);  
    background: linear-gradient(to right, #29323c, #485563); 
    
}

#timeline {
    background: #000428; 
    background: -webkit-linear-gradient(to left, #004e92, #000428);  
    background: linear-gradient(to left, #004e92, #000428); 

}

#offcanvasWithBackdrop{
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563);  
    background: linear-gradient(to right, #29323c, #485563); 
}
